.dark {
  margin: 0%;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #040404;
  color: #ffffff;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p {
  margin: 0;
  padding: 0;
}

.dark .header {
  min-height: 10vh;
  background-color: #202020;
}

.dark .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dark .header .nav .logo {
  font-size: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-style: italic;
}

.dark .header .nav .right_nav {
  padding-left: 10px;
}

.dark .filePicker {
  text-align: center;
  padding: 20px 20px;
}

.dark .filePicker .upload_btn {
  padding: 20px;
  font-size: 34px;
}

.light {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f4f4f4;
  color: #000000;
  min-width: 100vw;
  min-height: 100vh;
}

.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6,
.light p {
  margin: 0;
  padding: 0;
}
